body {
  background-color: #efefe8ff;
  height: 100%;
  margin: 0;
}
.map-container {
  height: 60vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

#custom-control {
  z-index: 1;
  right: 0;
  top: 0;
  position: absolute;
  padding: 6px 12px;
  margin: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "search info_pannel"
    "map map";
}

#search {
  grid-area: search;
  height: 35vh;
  padding: 40px;
}

#pannel {
  grid-area: info_pannel;
  height: 35vh;
  padding: 40px;
  overflow: auto;
  max-height: 100vh;
}

#map {
  grid-area: map;
  position: relative;
}

#mark-visited-button {
  margin-left: 5px;
}

#navbar {
  height: 3rem;
  background-color: #3f51b5;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar .link:hover {
  background: #6574c4;
}

.link {
  color: #efefe8ff;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg {
  background-image: url("./images/next_stop.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
